h1 {
  font-size: 300%;
  font-weight: bold;
  color: white;
  text-align: center;
}

h3 {
	
  font-weight: bold;
  color: white;
  text-align: center;
  
}


header {
	
	background-color: black;
	padding: 10px;
	border: 3px solid yellow;
	margin-bottom: 10px
	
	
}

footer {
	
	background-color: black;
	padding: 10px;
	border: 3px solid yellow;
	margin-bottom: 10px
	
	
}


